body{
  background-image: linear-gradient(to left, #051937, #0b2040, #12284a, #192f54, #1f375e);
}

/*----------NAV----------*/
*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}

.navbar{
  display: flex;
  background-image: linear-gradient(to top, #2c2c2c, #262626, #202020, #1a1a1a, #141414);
  color: white;
  justify-content: start;
}
.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover{
  background-color: #555;

}
.navbar-links2 {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar-links2 ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links2 li{
  list-style: none;
}
.navbar-links2 li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.navbar-links2 li:hover{
  background-color: #555;

}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 15px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 800px){
  .toggle-button{
      display: flex;
  }
  .navbar{
      flex-direction: column;
      align-items: flex-start;
  }
  .navbar-links{
      display: none;
      width: 100%;
  }
  
  .navbar-links ul{
      width: 100%;
      flex-direction: column;
  }
  .navbar-links li{
      text-align: center;
  }
  .navbar-links li a{
      padding: .5rem 1rem;
  }
  .navbar-links.active{
      display: flex;
  }
  .navbar-links{
    display: none;
    width: 100%;
}

.navbar-links2 ul{
    width: 100%;
    flex-direction: column;
}
.navbar-links2 li{
    text-align: center;
}
.navbar-links2 li a{
    padding: .5rem 1rem;
}
.navbar-links2.active{
    display: flex;
}
}
/*--------------NAV-----------*/
/*--------------FOOTER--------*/
footer{
  background-image: linear-gradient(to left top, #051937, #0b2040, #12284a, #192f54, #1f375e);
}
iframe{
    margin-left: 30px;
    width: 50%;
    height: 400px;
    
}
p {
    margin-left:30px;
}
.footer_container{
  display: flex;
      margin-right: 15px;
    margin-left: 0;
    width: 90%;
}
.row-container {
  margin:0 auto;
  width:90%;
  margin-top:40px;
}
.col-md.cars_card {
  padding-bottom:40px;
}
@media (max-width:671px) {
  .col-md.cars_card {
    display: block;
    margin:0 auto;
  }
  .footer_row {
    text-align: center;
  }
  iframe {
    width:90%;
    display: flex;
    justify-content: center;
    margin-bottom:30px;
  }
  .footer_container{
    display: block;
  }
}
/*--------------FOOTER--------*/
/*-------------bejelentkezés és regisztráció-------------*/
@media (max-width:1400px) {
  .row{
    justify-content: center;
  }
}
.login-card{
  width:400px;
  margin:30px 0px;
}
.reg-card{
  width:400px;
  margin:30px 0px;
}
.reg-card-container {
  display: flex;
  justify-content: center;
}
.login-card-container {
  display:flex;
  justify-content: center;
}
/*-------------bejelentkezés és regisztráció-------------*/
/*-------------kiválasztott autó megjelenítése-----------*/
.single_card{
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.booking_form{
  margin: 5%;
}
.booking_date{
  float: left;
}
.booking_date2{
  
  float: right;
}
@media (max-width:1100px) {
  .booking_date{
    float: none;
  }
  .booking_date2{
    float: none;
    margin-top: 10px;
  }
}
.booking_date_label{
  width: 110px;
}
.w-100{
  margin: 1%;
  margin-left: 0;
}

.card-booking {
  width:600px;
}
.card-text-container {
  display: flex;
  justify-content: center;
}

/*-------------kiválasztott autó megjelenítése-----------*/
/*-------------foglalásaim-------------------------------*/
.bookings{
  margin-top: 30px;
  margin-bottom: 30px;
}
.accordion{
  display: flex;
  justify-content: center;
}
.accordion-item{
  width: 60%;
}
.booking_card{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
}
.booking_buttons{
  margin-left: 20px;
}
@media screen and (max-width: 540px) {
  .accordion-item{
    width: 100%;
  }
  .booking_card{
    width: 100%;
  }
}
/*-------------foglalásaim-------------------------------*/
/*--------------PROFIL--------*/
.header {
  min-height: 60vh;
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  text-align: center;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid black;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.stats {
  display: flex;
  justify-content: center;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.username_update{
  display: flex;
}
.username_update input{
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
}

.username_update button{
  display: flex;
  margin-right: 10px;
  height: 25px;
}

.email_update{
  display: flex;
  margin-top: 10px;
  bottom: 10px;
} 
.email_update input{
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
}

.email_update button{
  display: flex;
  margin-right: 10px;
  height: 25px;
}


.phonenum_update{
  display: flex;
  margin-top: 10px;
  bottom: 10px;
}
.phonenum_update input{
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
}

.phonenum_update button{
  display: flex;
  margin-right: 10px;
  height: 25px;
}

.pass_update{
  display: flex;
  margin-top: 10px;
  bottom: 10px;
}
.pass_update input{
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
}

.pass_update button{
  display: flex;
  margin-right: 10px;
  height: 25px;
}
.update_name{
  width: 120px;
}
.btn-success{
  padding: 0 ;
}


@media (max-width:470px) {
  .update_name{
      margin-top: 3px;
  }
  #offcanvasTop.offcanvas.offcanvas-top.show{

  }
  .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm,
.offcanvas-xl, .offcanvas-xxl{
      --bs-offcanvas-padding-x: 0;
  }
  .offcanvas-header{
      padding:0;
  }
  .update_input{
  width: 130px;
}

}
@media (max-width:870px) {
  .offcanvas.offcanvas-top{
      top: auto;
  }
  .pass_update2{
    margin-top: 10px;
  }
  .header{
    clip-path:none;
  }
}
.update_items{
  float: left;
  display: inline-block;
}
.update_items2{
  float: left;
}
.pass_update2{
  display: flex;
}
.pass_update2 input{
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
}
/*--------------PROFIL--------*/
/*--------------Auctók---*/
.col-md.cars_card {
  display:flex;
  width: 286px;
}
.col-md.cars_card{
width: 286px;
}
.col-md.cars_card {
     flex:none; 
}
button.btn.btn-primary.search_btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
input#exampleDataList.form-control{
  width: 400px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cars_search{
  display: flex;
  justify-content: right;
  margin-top: 20px;
  float: left;
  margin-left: 5%;
}
.btn-group.filter{
  margin-left: 77%;
  margin-top: 20px;
}
#filter_button{
  display: flex;
}
@media (max-width:670px) {
  .cars_search{
    float: none;
  }
  #filter_button{
    justify-content: center;
  }
  .btn-group.filter{
    margin-left: 0;
  }
}
@media (max-width:260px) {
  input#exampleDataList.form-control{
    width: 100%;
  }
}
/*-------------Autók------------*/